In [24]:
import numpy as np
import pandas as pd
import itertools
import matplotlib
import matplotlib.pyplot as plt

In [25]:
# Read in atmosphere variables
atmosphere_variables = pd.read_csv('Data/mass_balance_atmosphere_variables.csv') # analysis of schneider 2012 data

In [26]:
# Define variables for mass balance
C_op = [36830-170.0-115,36830.0-170.0,36830.0,36830.0+170.0] #the carbon content of the preindustrial ocean from Ciais 2012
C_tp = [2350] # Possible terrestrial carbon content for preindustrial # laurie's est was 2050
C_ap = atmosphere_variables[atmosphere_variables.variable == 'C_ap']['value']
C_al =  atmosphere_variables[atmosphere_variables.variable == 'C_al']['value']

d13C_op = [0.4] #the delta13C global mean of the preindustrial ocean (this study)
d13C_ol = [0.2] # the estimated delta13C global mean of the lig ocean (this study)
d13C_tp = [-24.3] #delta13C signature of terrestrial carbon under preindustrial conditions from Menviel 2017
d13C_tl = [-24.3-0.5,-24.3,-24.3+0.5,] #delta13C signature of terrestrial carbon under preindustrial conditions
d13C_ap =  atmosphere_variables[atmosphere_variables.variable == 'd13C_ap']['value']
d13C_al =  atmosphere_variables[atmosphere_variables.variable == 'd13C_al']['value']

In [27]:
# Also test the middle terrestrial carbon content est
C_tp.append(np.mean(C_tp))

In [28]:
# create pandas table of all results to test
variables_list = [C_op,C_tp,C_ap,C_al,d13C_op,d13C_ol,d13C_tp,d13C_tl,d13C_ap,d13C_al]
df_test_scenarios = pd.DataFrame(list(itertools.product(*variables_list)))
df_test_scenarios.columns = ['C_op','C_tp','C_ap','C_al','d13C_op','d13C_ol','d13C_tp','d13C_tl','d13C_ap','d13C_al']

In [29]:
DC_t_dict = {} #change in terrestrial carbon dictionary
C_tl_dict = {} #total terrestrial carbon dictionary
C_ol_dict = {} #total lig ocean carbon storage

# Iterate over all rows in df_test_scenarios
for index,row in df_test_scenarios.iterrows():
    # calculate change in terrestrial carbon
    C_tl = (row['d13C_op']*row['C_op']+row['C_ap']*row['d13C_ap']+row['d13C_tp']*row['C_tp']\
            -row['C_al']*row['d13C_al']-row['d13C_ol']*(row['C_ap']+row['C_op']+row['C_tp']-row['C_al']))/(row['d13C_tl']-row['d13C_ol'])#((1+(row['d13C_ol']/row['d13C_tl']))*row['d13C_tl'])
            
    C_ol = (row['C_ap']+row['C_op']+row['C_tp']-row['C_al']-C_tl)
    
    #calculate absolute lig terrestrial carbon
    DC_t = C_tl-row['C_tp']
    
    # add results to dictionaries
    DC_t_dict.update({
        index : DC_t
    })    
    C_tl_dict.update({
        index : C_tl
    })
    C_ol_dict.update({
        index : C_ol
    })    

# Create dataframes for results
df_DC_t = pd.DataFrame.from_dict(DC_t_dict,orient='index').rename(columns={0:'DC_t'})
df_C_tl = pd.DataFrame.from_dict(C_tl_dict,orient='index').rename(columns={0:'C_tl'})
df_C_ol = pd.DataFrame.from_dict(C_ol_dict,orient='index').rename(columns={0:'C_ol'})

# join results to original dataframe
df_test_scenarios_results = df_test_scenarios.join(df_DC_t)
df_test_scenarios_results = df_test_scenarios_results.join(df_C_tl)
df_test_scenarios_results = df_test_scenarios_results.join(df_C_ol)

#
df_test_scenarios_results

,C_op,C_tp,C_ap,C_al,d13C_op,d13C_ol,d13C_tp,d13C_tl,d13C_ap,d13C_al,DC_t,C_tl,C_ol
0,36545.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.8,-6.334706,-6.620909,-348.530140,2001.469860,36883.674228
1,36545.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.3,-6.334706,-6.620909,-307.683817,2042.316183,36842.827904
2,36545.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-23.8,-6.334706,-6.620909,-265.135563,2084.864437,36800.279650
3,36545.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.8,-6.334706,-6.620909,-348.530140,2001.469860,36883.674228
4,36545.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.3,-6.334706,-6.620909,-307.683817,2042.316183,36842.827904
5,36545.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-23.8,-6.334706,-6.620909,-265.135563,2084.864437,36800.279650
6,36660.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.8,-6.334706,-6.620909,-349.450140,2000.549860,36999.594228
7,36660.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.3,-6.334706,-6.620909,-308.622592,2041.377408,36958.766680
8,36660.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-23.8,-6.334706,-6.620909,-266.093896,2083.906104,36916.237984
9,36660.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.8,-6.334706,-6.620909,-349.450140,2000.549860,36999.594228
10,36660.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.3,-6.334706,-6.620909,-308.622592,2041.377408,36958.766680
11,36660.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-23.8,-6.334706,-6.620909,-266.093896,2083.906104,36916.237984
12,36830.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.8,-6.334706,-6.620909,-350.810140,1999.189860,37170.954228
13,36830.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.3,-6.334706,-6.620909,-310.010347,2039.989653,37130.154435
14,36830.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-23.8,-6.334706,-6.620909,-267.510563,2082.489437,37087.654650
15,36830.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.8,-6.334706,-6.620909,-350.810140,1999.189860,37170.954228
16,36830.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.3,-6.334706,-6.620909,-310.010347,2039.989653,37130.154435
17,36830.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-23.8,-6.334706,-6.620909,-267.510563,2082.489437,37087.654650
18,37000.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.8,-6.334706,-6.620909,-352.170140,1997.829860,37342.314228
19,37000.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.3,-6.334706,-6.620909,-311.398102,2038.601898,37301.542190
20,37000.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-23.8,-6.334706,-6.620909,-268.927230,2081.072770,37259.071317
21,37000.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.8,-6.334706,-6.620909,-352.170140,1997.829860,37342.314228
22,37000.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-24.3,-6.334706,-6.620909,-311.398102,2038.601898,37301.542190
23,37000.0,2350.0,566.126516,575.982429,0.4,0.2,-24.3,-23.8,-6.334706,-6.620909,-268.927230,2081.072770,37259.071317

In [30]:
# Only get variables that change
df_latex = df_test_scenarios_results[['C_op','C_tp', 'd13C_tl','C_ol','C_tl','DC_t']]

# Make all columns except d13CterrLIG be ints 
df_latex[['C_op','C_tp','C_ol','C_tl','DC_t']] = df_latex[['C_op','C_tp','C_ol','C_tl','DC_t']].astype(int)

## Rename columns for paper
#df_latex.columns = (['','','','','',''])

# Convert to string of latex markdown
latex_string = df_latex.to_latex(index=False,longtable=True)

# Reformat some parts of the latex table
latex_string = latex_string.replace('\\toprule','')
latex_string = latex_string.replace('\\midrule','')
latex_string = latex_string.replace('\\bottomrule','')

# Change column names
latex_string = latex_string.replace('C\\_op','C$_{OP}$')
latex_string = latex_string.replace('C\\_tp','C$_{TP}$')
latex_string = latex_string.replace('d13C\\_tl','$\delta^{13}$C$_{TL}$')
latex_string = latex_string.replace('C\\_ol','C$_{OL}$')
latex_string = latex_string.replace('C\\_tl','C$_{TL}$')
latex_string = latex_string.replace('DC\\_t','$\Delta$C$_{T}$')

# Add caption to latex table
caption = [
    '\caption{Sensitivity analysis results for the global mass balance.',
    'Variables estimates: preindustrial ocean carbon (C$_{OP}$, Gt C), preindustrial terrestrial carbon (C$_{TP}$, Gt C)',
    'and $\delta^{13}$C for the last interglacial terrestrial biosphere ($\delta^{13}$C$_{TL}$, $\permil$).',
    'Calculation results: last interglacial ocean carbon (C$_{OL}$, Gt C), last interglacial terrestrial carbon (C$_{TL}$, Gt C)',
    'and the change in terrestrial carbon from LIG to preindustrial ($\Delta$C$_T$, $\permil$).}',
    '\label{mass_balance_tb}'
]

caption = ' '.join(caption)

latex_string = latex_string.replace('\\end{longtable}',caption+'\\end{longtable}')
latex_name = 'Figures/mass_balance_results.tex'
# Write to a file
file1 = open(latex_name,"w") 
file1.write(latex_string) 
file1.close() #to change file access modes

In [31]:
np.min(df_test_scenarios_results)

C_op       36545.000000
C_tp        2350.000000
C_ap         566.126516
C_al         575.982429
d13C_op        0.400000
d13C_ol        0.200000
d13C_tp      -24.300000
d13C_tl      -24.800000
d13C_ap       -6.334706
d13C_al       -6.620909
DC_t        -352.170140
C_tl        1997.829860
C_ol       36800.279650
dtype: float64

In [32]:
np.max(df_test_scenarios_results)

C_op       37000.000000
C_tp        2350.000000
C_ap         566.126516
C_al         575.982429
d13C_op        0.400000
d13C_ol        0.200000
d13C_tp      -24.300000
d13C_tl      -23.800000
d13C_ap       -6.334706
d13C_al       -6.620909
DC_t        -265.135563
C_tl        2084.864437
C_ol       37342.314228
dtype: float64

In [33]:
# # Normalise the variables for comparison. Loop and store in dictionary
# normalised_variables = {}

# for col in df_test_scenarios_results:
#     var = df_test_scenarios_results[col]
#     var_min = np.min(var)
#     var_max = np.max(var)
#     var_normalised = df_test_scenarios_results

#     normalised_variables.update({
#         col : (var-var_min)/(var_max - var_min)
#     })
    
# # Convert results to dataframe
# normalised_variables = pd.DataFrame.from_dict(normalised_variables,orient='index').T

# # Drop columns that don't vary (i.e. contains NANs)
# normalised_variables = normalised_variables.dropna(axis=1)

# # get the dependent and independent variables into separate dataframes 
# dependent_variable = df_test_scenarios_results['C_tl']
# independent_variable = normalised_variables.drop(['DC_t','C_tl'],axis=1)

In [34]:
# ### plot the results

# plt.figure(figsize=(15,6))

# colours = ['r','k','b']
# results = []

# for col,colour in zip(independent_variable,colours):
    
#     # group by other variables to plot each set individually
#     for index,group in independent_variable.groupby(list(filter(lambda a: a != col, list(independent_variable)))):
#         plt.plot(group[col],dependent_variable[group.index],c=colour,linestyle='-',alpha=0.1)
#         plt.scatter(group[col],dependent_variable[group.index],marker='o',c=colour) 
    
#     # make dummy plot for legend generation
#     output = plt.scatter([],[],marker='o',c=colour) 
#     results.append(output)
    
# # Format the graph
# plt.legend(results,list(independent_variable))
    
# plt.show()

In [23]:
dates = ['2016-1-1', '2016-1-2', '2016-1-3']
cols = pd.MultiIndex.from_product([dates, ['High', 'Low']])

pd.DataFrame(np.random.randn(1,6), columns=cols)

   2016-1-1            2016-1-2            2016-1-3
       High       Low      High       Low      High       Low
0  1.819159  0.396417 -0.482378 -0.736663 -0.569779 -1.348323

In [13]:
independent_variable

NameError: name 'independent_variable' is not defined